/*
minimal normalize
*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
 }
  html,body{
    margin:0;
    padding:0;
    background:white;
  }
  a:focus, input {
      outline: thin dotted;
  }

  a:active,
  a:hover, input {
      outline: 0;
  }
/*
actual styling
*/
  body{
  	font-family: sans-serif;
  	background: #FFF;
  	font-size:.8em;
    font-size:11px;
  	line-height: 1.5;
  	color:#333;
    width: 420px;
    min-height:35px;
    position:relative;
  }
  #searchform{
    padding:5px 5px 0;
    background:#F8E71C;
    text-transform: uppercase;
    border-bottom:0px solid #333;
    
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:30px;
    z-index:100;
  }
  label{font-weight:bold;margin-right:20px;}
  #total{font-weight:bold;margin-left:1em;}  
  #search{border:1px solid #FFF;padding:2px; width:180px;}

#bookmarks{
    position:absolute;
    top:40px;
    line-height: 1.5;
    margin:0 0 40px;
    padding:0 0 40px;
    width:400px;
    height:auto;
    background:white;
    transition: all 350ms cubic-bezier(.7, .5, .3, 1);

}
#bookmarkslist{
  	margin:1em 0; 
  	padding-left:2em; 
  	list-style: decimal;
  	> li{
	   	font-size:12px;
	    border-bottom:1px solid #DDD;
	    width:100%;
	    margin:.3em 0;

		perspective: 350px;
		height: 90px;
		opacity: 1;
		overflow: hidden;
		position: relative;
		transform-origin: 50% 0;
		transform: translateY(400px);
		transition: all 600ms cubic-bezier(.3, .7, .1, 1);
	    &:before {
	    	bottom: 19px;
			right: 20px;
			transform: rotate(-45deg);
		}
	    &:after {
	    	bottom: 15px;
			right: 20px;
			transform: rotate(45deg);
		}

		a{
	  		color:#111;
	  		text-decoration: none;
	  		padding:3px 5px 2px;
	  		display:block; 		
	   		backface-visibility: hidden;
	  		transform-style: preserve-3d;
	  		
	  		h2{
		  		font-size:12px;
		  		font-weight: normal;
		  		backface-visibility: hidden;
		  		background: #444;
		  		color: #FFF;
		  		line-height: 50px;
		  		margin: 0;
		  		height: 50px;
		  		text-transform: uppercase;
	  		}
	  		.details{
	  			display:block;
	  			backface-visibility: hidden;
	  			background: #222;
	  			color: #222;
	  			font-size: 12px;
	  			line-height: 140%;
	  			height: 55px;
	  			margin: -1px 0 0;
	  			padding: 5px 15px 15px;
	  			transform: rotateX(-60deg);
	  			transform-origin: 50% 0;
	  		}
/*
	  		&:hover,&:focus,&:active{
	  			color: yellow; background:#111;
	  			transform: translateY(-75px);
	  			.details{
			 		display:block;
			 		transform: rotateX(0deg);
			 		color:#999;
			 	}
			 }
*/
		}
		
		&:hover{
			a{
				transform: translateY(-75px);
				.details{
					transform: rotateX(0deg);
					background: #222;
					color: #BBB;
					outline: 1px solid transparent;
				}
			}
			h2{
				background: #222;
			}
		}
	  }
}
 